{% extends 'custom_admin/base.html' %}

{% block title %}Edit Subject - Admin Panel{% endblock %}
{% block page_title %}Edit Subject{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Edit Subject: {{ subject.name }}</h6>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.name.label_tag }}
                                {{ form.name }}
                                {% if form.name.errors %}
                                <div class="text-danger">
                                    {% for error in form.name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.description.label_tag }}
                                {{ form.description }}
                                {% if form.description.errors %}
                                <div class="text-danger">
                                    {% for error in form.description.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Subject</button>
                    <a href="{% url 'manage_subjects' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}